In [1]:
import numpy as np
import pandas as pd

### pandas Time Zone Information

In [2]:
rng = pd.date_range('3/6/2018 00:00', periods = 15, freq = 'D')
print(rng.tz) # None by default

None

In [3]:
rng_tz = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D', tz = 'Europe/London')
rng_tz.tz

### Getting a list of timezones

In [4]:
from pytz import common_timezones, all_timezones
print(len(common_timezones))

436

In [5]:
print(len(all_timezones))

588

In [6]:
print(set(all_timezones) - set(common_timezones))

set(['Etc/GMT+9', 'Etc/GMT+8', 'America/Buenos_Aires', 'Etc/GMT+3', 'Etc/GMT+2', 'Etc/GMT+1', 'Etc/GMT+0', 'Etc/GMT+7', 'Etc/GMT+6', 'Etc/GMT+5', 'Etc/GMT+4', 'Asia/Calcutta', 'Australia/South', 'America/Atka', 'America/Coral_Harbour', 'America/Fort_Wayne', 'PRC', 'Asia/Thimbu', 'Africa/Timbuktu', 'Asia/Kashgar', 'HST', 'Hongkong', 'Brazil/DeNoronha', 'Etc/Universal', 'GB', 'WET', 'Canada/Yukon', 'Jamaica', 'America/Indianapolis', 'Pacific/Truk', 'Pacific/Yap', 'America/Santa_Isabel', 'America/Ensenada', 'Brazil/Acre', 'Turkey', 'Asia/Dacca', 'America/Cordoba', 'EET', 'Asia/Harbin', 'Etc/GMT-9', 'Etc/GMT-8', 'Etc/GMT-1', 'Australia/Tasmania', 'Etc/GMT-3', 'Etc/GMT-2', 'Etc/GMT-5', 'Etc/GMT-4', 'Etc/GMT-7', 'Etc/GMT-6', 'Asia/Macao', 'Australia/Canberra', 'ROK', 'Asia/Ujung_Pandang', 'Cuba', 'Asia/Saigon', 'ROC', 'America/Louisville', 'CET', 'America/Porto_Acre', 'Navajo', 'Etc/GMT-13', 'Australia/West', 'Brazil/West', 'Libya', 'Canada/Saskatchewan', 'Etc/UCT', 'Iran', 'GB-Eire', 'Etc/Greenwich', 'Atlantic/Jan_Mayen', 'Portugal', 'Europe/Tiraspol', 'Asia/Katmandu', 'Etc/GMT+11', 'Etc/GMT+10', 'Etc/GMT0', 'Pacific/Ponape', 'Japan', 'Asia/Ulan_Bator', 'Kwajalein', 'Australia/Yancowinna', 'Greenwich', 'America/Mendoza', 'America/Jujuy', 'PST8PDT', 'EST5EDT', 'US/East-Indiana', 'America/Argentina/ComodRivadavia', 'Canada/East-Saskatchewan', 'US/Pacific-New', 'Chile/Continental', 'Asia/Tel_Aviv', 'Asia/Istanbul', 'MST7MDT', 'GMT0', 'Australia/Victoria', 'US/Aleutian', 'Australia/ACT', 'Australia/North', 'US/Samoa', 'US/Michigan', 'Asia/Chungking', 'NZ', 'Asia/Ashkhabad', 'America/Knox_IN', 'America/Catamarca', 'America/Shiprock', 'GMT+0', 'Poland', 'W-SU', 'US/Indiana-Starke', 'Australia/LHI', 'Chile/EasterIsland', 'Universal', 'MET', 'America/Virgin', 'Asia/Chongqing', 'Australia/NSW', 'Etc/Zulu', 'MST', 'Atlantic/Faeroe', 'Etc/GMT-0', 'Israel', 'UCT', 'NZ-CHAT', 'Etc/GMT+12', 'Etc/GMT', 'Iceland', 'Australia/Queensland', 'Europe/Nicosia', 'America/Rosario', 'EST', 'Mexico/BajaNorte', 'Eire', 'Etc/GMT-11', 'Etc/GMT-10', 'Europe/Belfast', 'Etc/GMT-12', 'Etc/GMT-14', 'Mexico/BajaSur', 'Mexico/General', 'CST6CDT', 'GMT-0', 'Pacific/Samoa', 'Zulu', 'Egypt', 'Singapore', 'America/Montreal', 'Etc/UTC', 'Africa/Asmera', 'Brazil/East', 'Antarctica/South_Pole'])

### Localizing a timestamp

In [7]:
# You can also localize a naive timestamp
t_naive = pd.Timestamp('2016-07-10 08:50')
t_naive

Timestamp('2016-07-10 08:50:00')

In [8]:
t = t_naive.tz_localize(tz = 'US/Central')
t

Timestamp('2016-07-10 08:50:00-0500', tz='US/Central')

In [9]:
t.tz_convert('Asia/Tokyo')

Timestamp('2016-07-10 22:50:00+0900', tz='Asia/Tokyo')

### What's the difference between tz_convert and tz_localize?

In [10]:
### One converts and the other sets.

### Ambiguous times

In [11]:
# how to handle daylight savings?
rng = pd.date_range('2018-03-10', periods=10, tz='US/Central')
ts = pd.Series(range(10), index=rng)
ts

2018-03-10 00:00:00-06:00    0
2018-03-11 00:00:00-06:00    1
2018-03-12 00:00:00-05:00    2
2018-03-13 00:00:00-05:00    3
2018-03-14 00:00:00-05:00    4
2018-03-15 00:00:00-05:00    5
2018-03-16 00:00:00-05:00    6
2018-03-17 00:00:00-05:00    7
2018-03-18 00:00:00-05:00    8
2018-03-19 00:00:00-05:00    9
Freq: D, dtype: int64

In [12]:
reg_hourly = pd.DatetimeIndex(['11/06/2011 00:00','11/06/2011 01:00','11/06/2011 02:00'])
reg_hourly

DatetimeIndex(['2011-11-06 00:00:00', '2011-11-06 01:00:00',
               '2011-11-06 02:00:00'],
              dtype='datetime64[ns]', freq=None)

In [13]:
reg_hourly.tz_localize('US/Central', ambiguous=True)

DatetimeIndex(['2011-11-06 00:00:00-05:00', '2011-11-06 01:00:00-05:00',
               '2011-11-06 02:00:00-06:00'],
              dtype='datetime64[ns, US/Central]', freq=None)

In [14]:
rng = pd.date_range('2018-03-10', periods=10, tz='utc')
ts = pd.Series(range(10), index=rng)
ts

2018-03-10 00:00:00+00:00    0
2018-03-11 00:00:00+00:00    1
2018-03-12 00:00:00+00:00    2
2018-03-13 00:00:00+00:00    3
2018-03-14 00:00:00+00:00    4
2018-03-15 00:00:00+00:00    5
2018-03-16 00:00:00+00:00    6
2018-03-17 00:00:00+00:00    7
2018-03-18 00:00:00+00:00    8
2018-03-19 00:00:00+00:00    9
Freq: D, dtype: int64

In [15]:
ts.tz_convert('US/Central')

2018-03-09 18:00:00-06:00    0
2018-03-10 18:00:00-06:00    1
2018-03-11 19:00:00-05:00    2
2018-03-12 19:00:00-05:00    3
2018-03-13 19:00:00-05:00    4
2018-03-14 19:00:00-05:00    5
2018-03-15 19:00:00-05:00    6
2018-03-16 19:00:00-05:00    7
2018-03-17 19:00:00-05:00    8
2018-03-18 19:00:00-05:00    9
Freq: D, dtype: int64